.wrap {
    /* height: 100%; */
}

.content {
    padding: 16px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: #fff;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.layoutWrap {
    height: 100%;
}

.title {}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.simpleWrap {
    height: 100%;
}

.admin-breadcrumb {
    margin-bottom: 16px;
}